html, body {
    margin: 0;
    padding: 0;
}

 background-image: url("images/heavensgate.jpg");
  background-repeat: repeat;
}

img {

}

.centered {
    text-align: center;
}

.fade-in-image {
  animation: delay 15s;
  animation: fadeIn 25s;
  -webkit-animation: fadeIn 25s;
  -moz-animation: fadeIn 25s;
  -o-animation: fadeIn 25s;
  -ms-animation: fadeIn 25s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h2 {
     
}
     
.fade-in-text {
  animation: delay 25s;
  font-family: Arial;
  font-size: 60px;
  animation: fadeIn 15s;
  -webkit-animation: fadeIn 15s;
  -moz-animation: fadeIn 15s;
  -o-animation: fadeIn 15s;
  -ms-animation: fadeIn 15s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
