html, body {
    margin: 0;
    padding: 0;
}

.button {
  background-color: brown;
  border: 1px;
  color: white;
  padding: 12px 12px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  position: absolute;
  top: 680px;
  right: 0%;
  transform: translateX(-167.3%)

}
.button2 {
  background-color: green;
  border: 1px;
color: white;
padding: 12px 12px;
text-align: left;
text-decoration: none;
display: inline-block;
font-size: 30px;
position: absolute;
top: 680px;
right: 0%;
transform: translateX(-104.3%)
}

img {

}

.centered {
    text-align: center;
}

.fade-in-image {

  animation: fadeIn 19s;
  -webkit-animation: fadeIn 19s;
  -moz-animation: fadeIn 19s;
  -o-animation: fadeIn 19s;
  -ms-animation: fadeIn 19s;
  position: absolute;
  top: 1000px;
  right: 0%;
  transform: translateX(-295%)
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h2 {
     
}
     
.fade-in-text {
  font-family: Arial;
  font-size: 60px;
  animation: fadeIn 18s;
  -webkit-animation: fadeIn 18s;
  -moz-animation: fadeIn 18s;
  -o-animation: fadeIn 18s;
  -ms-animation: fadeIn 18s;
  position: absolute;
  top: 770px;
  right: 0%;
  transform: translateX(-150%)
}

@keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}
.fade-in-text2 {
  font-size: 60px;
  animation: fadeIn 19s;
  -webkit-animation: fadeIn 19s;
  -moz-animation: fadeIn 19s;
  -o-animation: fadeIn 19s;
  -ms-animation: fadeIn 19s;
  position: absolute;
  top: 890px;
  right: 0%;
  transform: translateX(-210%)
}

@keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}
.hero {
  background-color: white;
  background-image: url ("images/heavensgate.png");
}
html { 
  background: url(images/) no-repeat ;
  background-size: cover; 
}
h3 {
  position: absolute;
  top: 1600px;
  right: 1329px
}
.stew {
  width: 250px;
  border: 15px solid black;
  border-style: groove;
  padding: 150px;
  height: 350px;
  margin: 700px;
  position: absolute;
  top: 900px;
  right: 570px;
}
.stew2 {
  position: absolute;
  top: 1740px;
  right: 1309px;
  padding-bottom:80px;
}
