html, body {
    margin: 0;
    padding: 0;
}

.button {
  background-color: brown;
  border: 1px;
  color: white;
  padding: 12px 12px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  position: absolute;
  right: 0%;
  transform: translateX(-45%)

}
.button2 {
  background-color: green;
  border: 1px;
color: white;
padding: 12px 12px;
text-align: left;
text-decoration: none;
display: inline-block;
font-size: 30px;
position: absolute;
right: 0%;
transform: translateX(51.5%)
}
img {

}

.centered {
    text-align: center;
}

.fade-in-image {

  animation: fadeIn 20s;
  -webkit-animation: fadeIn 20s;
  -moz-animation: fadeIn 20s;
  -o-animation: fadeIn 20s;
  -ms-animation: fadeIn 20s;
  position: absolute;
  top: 120%;
  right: 10%;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h2 {
     
}
     
.fade-in-text {
  font-family: Arial;
  font-size: 60px;
  position: absolute;
  top: 90%;
  right: 0%;
  animation: fadeIn 19s;
  -webkit-animation: fadeIn 19s;
  opacity:1
  -moz-animation: fadeIn 19s;
  -o-animation: fadeIn 19s;
  -ms-animation: fadeIn 19s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0}
  100% { opacity: 1; }
}
